<h1 class="text-center"><%= @country[0]["name"] %></h1>
<br>
<h3>More info: <a href='https://en.wikipedia.org/wiki/<%= @country[0]["name"] %>'>Wikipedia</a></h3>


<% @country[1].each do |review| %>
<div class="card">
  <div class="card-header">
    Traveler: <%= review["user_name"] %>
    <p class="float-right">Rating: <%= review["rating"] %>/10</p>
  </div>
  <div class="card-body">
    Review: <%= review["content"] %>
  </div>
</div>
<br>
<% end %>
